#weather-list {
    margin-bottom: 30px;
}

#weather-list div {
    margin-bottom: 30px;
}

.wrapper {
    display: flex;
    padding: 40px;
}

.pagination-buttons-div {
    padding-top: 40px;
}

.section-1 {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 20px;
}

.section-2 {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 20px;
}

.input-section {
    display: flex;
    margin-bottom: 60px;
}

input {
    margin-right: 20px !important;
}

.paragraph {
    margin-bottom: 20px;
}